* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */


.header-style {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header figure {
  width: 100%;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  margin: 15px;
}

header ul li a {
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-weight: bold;
  font-size: 0.8rem;
}

/* MAIN */

.main-top {
  background-color: black;
}

.main-top h2 {
  color: white;
  padding: 40px 10px;
}

.main-bottom {
  background-color: rgb(27, 162, 252);
}

.main-bottom ul {
  padding: 30px 0;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-around;
  gap: 10px;
}

.main-bottom ul li {
  padding: 10px;
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.main-bottom ul li img {
  width: 2.5rem;
  margin-right: 10px;
}

/* FOOTER */

.footer-top {
  background-image: url("./assets/img/footer-bg.jpg");
  /* height: 500px; */
}

.foot-list {
  display: flex;
  color: white;
  padding: 40px 0;
}

.foot-list div {
  margin: 0 30px;
}

.foot-list ul {
  margin: 10px 0;
  list-style-type: none;
}